body {
  margin: 0;
  padding: 0;
  font-family: Open Sans,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.top-menu{
    background: linear-gradient(90deg,#0388e5 0,#07bdf4);
    color: #ffffff;
    margin: 0;
    padding: 30px;
    padding-left: 50px;
}